<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add</title>
    <link rel="stylesheet" th:href="@{/css/addStyle.css}">
</head>
<body>
<div class="adding">
    <div th:each="curse : ${curs}">
        <form method="post">
            <input type="text" th:value="${curse.name}" name="moneyName" placeholder="введіть назву валюти"><br>
            <input type="text" th:value="${curse.currentDollarCurrency}" name="DollarCurrency" placeholder="введіть курс Валюти до доллара"><br>
            <input class="button" type="submit" value="змінити">
        </form>
    </div>
</div>
</body>
</html>