<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>головна сторінка</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<header>
    <div class="header_wrapper">
        <div class="left"><a href=""><h1>Обмін_валют.кпі</h1></a></div>
        <div class="right">
            <div class="button">
                    <a href="/login"> <input type="submit" value="Log in"></a>
                </div>

            <div class="button">
                    <form th:action="@{/logout}" method="post">
                        <input type="submit" value="Sign Out"/>
                </form>
            </div>
        </div>
    </div>
</header>
<div class="Main_body_wrapper">
    <div class="Main_body">
        <h2>Вітаю, на цій сторінці ви можете подивитися курси валют, натисність на назву потрібної валюти, і ви зможете
            побачити її поточний курс та історію за попередні 10 днів</h2>

        <div class="money_buttons_wrapper">

            <div class="money_buttons">
                <div th:each="el : ${curs}">
                    <a th:href="'/MoneyValuePage/'+ ${el.id}"> <input type="submit" th:value="${el.name}"></a>
                </div>
                <a href="/MoneyCourse/add"><input type="submit" value="+"></a>
            </div>
        </div>
    </div>
</div>

</body>
</html>