<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>головна сторінка</title>
    <link rel="stylesheet" th:href="@{/css/MoneyValueView.css}">
</head>
<body>

<div class="wrapper">
    <h1 th:each="curse : ${curs}" th:text="${curse.name}"></h1>
    <table class="myTable">
        <div th:each="el : ${OtherValues}">
            <tr>
                <td class="tableName"><p th:text="'курс за 1 '+ ${el.name}"/> </td>
                <div th:each="curse : ${curs}">
                    <td class="table" ><p th:text="${curse.currentDollarCurrency / el.currentDollarCurrency}"></p></td>

                </div>
            </tr>
        </div>
    </table>
    <div class="button" th:each="curse : ${curs}">
        <a  th:href="'/MoneyValuePage/'+ ${curse.id}+'/edit'" ><input class="click" type="submit" value="змінити"></a>
        <form th:action="'/MoneyValuePage/'+${curse.id}+'/remove'" method="post">
            <button class="click" type="submit">видалити</button>
        </form>
        <form th:action="'/MoneyValuePage/'+${curse.id}+'/history'">
            <button class="click" type="submit">подивитися історію курсів</button>
        </form>

    </div>
</div>
</body>
</html>