<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add</title>
    <link rel="stylesheet" th:href="@{/css/addStyle.css}">
</head>
<div class="adding">
    <form action="/MoneyCourse/add" method="post">
        <input type="text" name="moneyName" placeholder="введіть назву валюти"><br>
        <input type="text" name="DollarCurrency" placeholder="введіть курс Валюти до доллара"><br>
        <input class="button" type="submit" value="створити">
    </form>
</div>
</html>